#DB Set up
DB_URL=...
DB_USERNAME=your_neon_username
DB_PASSWORD=...

#JWT Secret
JWT_SECRET_KEY=...
ACCESS_TOKEN_EXPIRATION=15m
REFRESH_TOKEN_EXPIRATION=7d

#Cloudinary set up
CLOUDINARY_CLOUD_NAME=your_cloudinary_account
CLOUDINARY_API_KEY=...
CLOUDINARY_API_SECRET=...
APP_UPLOAD_MAX_FILE_SIZE=10485760

#Sonarqube
SONAR_TOKEN=...

#Other config
WALLET_HOLD_EXPIRATION_MINUTES=30


